screenshots/
node_modules/
.github/workflows/firebase-hosting-merge.yml
.github/workflows/firebase-hosting-pull-request.yml
.firebaserc
.firebase
build/404.html
build/asset-manifest.json
build/imgs/background.jpg
build/imgs/favicon.ico
build/imgs/help_mouseover.png
build/imgs/help_onclick.png
build/imgs/help_static.png
build/imgs/info_mouseover.png
build/imgs/info_onclick.png
build/imgs/info_static.png
build/imgs/popup.png
build/imgs/popup_gameover.png
build/imgs/popup_help.png
build/imgs/popup_statistics.png
build/imgs/popup_winscreen.png
build/imgs/textbox.png
build/imgs/window.png
build/index.html
build/robots.txt
build/static/css/main.9ebe4f0f.css
build/static/css/main.9ebe4f0f.css.map
build/static/js/main.13de8275.js
build/static/js/main.13de8275.js.LICENSE.txt
build/static/js/main.13de8275.js.map
build/static/media/background.6a16663df65dde15163a.jpg
build/static/media/popup_gameover.9b8ba7b2f260ba531dc6.png
build/static/media/popup_help.26c9d623858e270b0afa.png
build/static/media/popup_statistics.bf290e465afa4ab5061e.png
build/static/media/popup_winscreen.f455c0da9e4688ababad.png
build/static/media/textbox.1628b257aede99c160c0.png
build/static/media/window.fae24966d3886d7cf0df.png
firebase.json
.gitignore