
body {
    /* Handles Background, Commented out for now */
    background: url('../public/imgs/background.jpg') no-repeat;
    background-color: rgb(56, 56, 56);
    background-blend-mode: multiply; 
    
    display: flexbox;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.overlaywindow{
    width: 33vw;
    height: 100%;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: auto;

    overflow: hidden;
    transition: 0.5s;
}


.border{
    display: flex;
    height: 5vh;
    width: 35vw;
    margin: auto;
    justify-content: space-around;
    align-items: center;

    background-color: #343a40;

    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.gameboard{
    display: flex;
    width: 35vw;
    height: 90vh;
    margin: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    background-color: #495057;
    
    border-top: 3px solid #E9ECEF;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    
    box-shadow: 7px rgba(0, 0, 0, 0.5);
}

#imagecontainer{
    align-items: center;
    justify-content: center;
    margin: 0vw;
}


#lifecounter{
    display: inline-flex;
    align-items: center;
    border: 3px, darkcyan;
    flex-direction: row;
}

.lifepoint{
    display: inline-flex;
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: green;
    border: 10px black;
    box-shadow: 100px black;
    border-radius: 50%;
}

#npcimage{
    width: 20vw;
}

#hintbox{
    width: 30vw;
}

#hint{
    display:inline;
}
.hintcontent{
    display: inline;
}

#guessform{
    display: flex;
    flex-direction: row;
}

#guessfield{
    background-color: black;
    
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: #ffff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.formlabel{
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: gray;
}